* {
    box-sizing: border-box;  
}

@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
      }
  }

main {
    background-color: #F4976C;
    margin: auto;
    width: 100%;
    max-width: 100%;
}

body {
    background-color: #FBE8A6;
    padding: 0 5% 5% 5%;
    font-family:'Gill Sans', 'Gill Sans MT', sans-serif;
    gap: 16px;
    margin: 0 auto;
}

h1 {
    color: #303C6C;
    font-size: 40px;
    justify-content: center;
    display: block;
    text-align: center;
    text-shadow: 0px 0px 3px #D2FDFF;
    padding-top: none;
    margin-top: none;
}
h2 {
    color: #303C6C;
    font-size: 30px;
}
h3 {
    color: #303C6C;
    font-size: 16px;
}

.propicture {
    border-radius: 100%;
    vertical-align: middle;
}

p {
    color: rgba(0, 0, 0, 0.8)
}

.aboutMe {
    background-color: #B4DFE5;
    border-radius: 2%;
    border: 1px solid #B4DFE5;
}

.links {
    border-bottom: #303C6C solid 1px;
}

table, th, td {
    border-collapse: collapse;
    border: #303C6C solid 1px;
}

a {
    color: #303C6C;
}
  
a:visited {
    color: #e64444;
}
  
a:hover {
    color: #e64444;
    cursor: pointer;
}
  
a:active {
    color: #e64444;
}

footer {
    background-color: #D2FDFF;
    color: rgba(48, 60, 108, 0.8);
    text-align: center;
    padding:auto;
    margin: auto;     
}

input {
    font-size: 16px;
}

fieldset{
    border: 0px;
    border-bottom: 1px solid #303C6C ;
}

textarea{
    width: 80%;
    max-width: 80%;
    padding: 10px;
    border: 0px;
    border-radius: 2%;
    vertical-align: middle;
}

input[type="submit"] {
    font-size: 14px;
    font-weight: bold;
    height: 3.5em;
    background-color: transparent;
    border-color: #303C6C;
    border-radius: 10%;
}

::placeholder {
    font-family: 'Trebuchet MS';
    font-size: 14px;
}

/* colour scheme:
text: #303C6C
sub-head: #F4976C
main: #FBE8A6
side: #B4DFE5
foot: #D2FDFF